<!DOCTYPE html>
<html ng-app="ZebraWeb">
<head lang="en">
    <title>{{site.title?site.title:'Zebra'}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!--     <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
 -->
 	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
 	<link rel="stylesheet" href="assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css"/>
    <link rel="stylesheet" href="bower_components/pace/themes/white/pace-theme-flash.css"/>
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="app/css/app.css"/>
    
	<!-- ace styles -->
	<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->

	<!--[if lte IE 9]>
	  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="assets/js/ace-extra.min.js"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default" ng-controller="header">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>
	
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#"><small><i class="fa fa-leaf"></i>&nbsp;Zebra</small></a>
        </div>
        
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
        	<ul class="nav ace-nav">
        		<li class="light-blue">
       		        <a href="http://code.dianpingoa.com/arch/zebra" target="_blank">
						<i class="ace-icon glyphicon glyphicon-star"></i>
						<span>项目地址</span>
					</a>
        		</li>
        		<li class="light-blue">
        			<a ng-show="!isLogin" data-toggle="dropdown" href="#login" ng-click="login()" class="dropdown-toggle">
						登录
					</a>
					<a ng-show="isLogin"  data-toggle="dropdown" href="#logout" ng-click="logout()" class="dropdown-toggle">
						注销
					</a>
				</li>
        	</ul>
        </div>
    </div>
</div>

<div class="main-container">
    <nav id="sidebar" class="sidebar responsive" role="navigation" ng-controller="header">
		<script type="text/javascript">
			try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
		</script>

        <ul class="nav nav-list">
            <li active-link="active"><a href="#/config">
            	<i class="menu-icon fa fa-tachometer"></i>
            	<span class="menu-text"> 基本配置</span></a>
            	<b class="arrow"></b>
            </li>
            <li active-link="active"><a href="#/shard">
            	<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text">分库分表</span></a>
				<b class="arrow"></b>
			</li>
            <li active-link="active"><a href="#/flow">
            	<i class="menu-icon fa fa-list-alt"></i>
				<span class="menu-text"> SQL流控 </span></a>
				<b class="arrow"></b>
            </li>
            <li active-link="active"><a href="#/update">
            	<i class="menu-icon fa fa-picture-o"></i>
				<span class="menu-text"> 升级进度 </span></a>
				<b class="arrow"></b>
			</li>
            <li ng-show="isLogin" active-link="active"><a href="#/monitor"><i class="menu-icon fa fa-tag"></i>
				<span class="menu-text"> 监控 </span></a>
				<b class="arrow"></b>
			</li>
        </ul>
	    
	    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
	    
	    <script type="text/javascript">
			try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
		</script>
	</nav>
	
	<div class="main-content">
		<div class="main-content-inner">
			<div class="page-content" ui-view>
			</div>
		</div>
	</div>
</div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/pace/pace.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/service.js"></script>
<script src="app/js/controller.js"></script>

<!-- ace scripts -->
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>

</html>