#main-container {
    margin-top: 60px;
}

.popover-large + .popover {
    width: 300px !important;
    max-width: 300px !important;
}

.popover-xlarge + .popover {
    width: 500px !important;
    max-width: 500px !important;
}