<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.admin.dao.HeartbeatMapper">
    <select id="getAll" parameterType="map" resultType="HeartbeatEntity">
        SELECT * FROM heartbeat
    </select>

    <select id="getHeartbeat" parameterType="map" resultType="HeartbeatEntity">
        SELECT * FROM heartbeat WHERE app_name = #{app_name} and ip = #{ip} and datasource_bean_name =
        #{datasource_bean_name}
    </select>

    <select id="getHeartbeatByAppName" parameterType="map" resultType="HeartbeatEntity">
        SELECT * FROM heartbeat WHERE app_name = #{app_name}
    </select>

    <delete id="deleteHeartbeat" parameterType="map">
        DELETE FROM heartbeat WHERE app_name = #{app_name} and ip = #{ip} and datasource_bean_name =
        #{datasource_bean_name}
    </delete>

    <delete id="deleteHeartbeatById" parameterType="map">
        DELETE FROM heartbeat WHERE id = #{id}
    </delete>

    <insert id="insertHeartbeat" parameterType="HeartbeatEntity">
        INSERT INTO `heartbeat`
        (
        `app_name`,
        `ip`,
        `datasource_bean_name`,
        `database_name`,
        `database_type`,
        `username`,
        `datasource_bean_class`,
        `replaced`,
        `jdbc_url`,
        `init_pool_size`,
        `max_pool_size`,
        `min_pool_size`,
        `version`,
        `create_time`,
        `update_time`)
        VALUES
        (
        #{app_name},
        #{ip},
        #{datasource_bean_name},
        #{database_name},
        #{database_type},
        #{username},
        #{datasource_bean_class},
        #{replaced},
        #{jdbc_url},
        #{init_pool_size},
        #{max_pool_size},
        #{min_pool_size},
        #{version},
        #{create_time},
        #{update_time})
    </insert>

    <insert id="updateHeartbeat" parameterType="HeartbeatEntity">
        UPDATE `heartbeat` SET
        `app_name` = #{app_name},
        `ip` = #{ip},
        `datasource_bean_name` = #{datasource_bean_name},
        `database_name` = #{database_name},
        `database_type` = #{database_type},
        `username` = #{username},
        `datasource_bean_class` = #{datasource_bean_class},
        `replaced` = #{replaced},
        `jdbc_url` = #{jdbc_url},
        `init_pool_size` = #{init_pool_size},
        `max_pool_size` = #{max_pool_size},
        `min_pool_size` = #{min_pool_size},
        `version` = #{version},
        `create_time` = #{create_time},
        `update_time` = #{update_time}
        WHERE id = #{id}
    </insert>
</mapper>