<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.admin.dao.ShardDumpDbMapper">
    <select id="getDbByName" parameterType="map" resultType="ShardDumpDbEntity">
        SELECT * FROM ShardDumpDb WHERE Name = #{name}
    </select>
</mapper>