<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.admin.dao.ShardDumpTaskMapper">
        <select id="getByExecutor" parameterType="map" resultType="ShardDumpTaskEntity">
            SELECT * FROM ShardDumpTask WHERE Executor = #{executor}
        </select>

        <update id="updateStatus" parameterType="ShardDumpTaskEntity">
            Update ShardDumpTaskEntity SET
                BinlogFile = #{binlogFile},
                BinlogPos = #{binlogPos},
                IndexKey = #{indexKey},
                Status = #{status}
            WHERE ID = #{id}
        </update>
</mapper>