<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.biz.dao.MonitorHistoryMapper">

	<select id="findAllHistory" parameterType="map"
		resultType="MonitorHistoryEntity">
		SELECT * FROM monitor_history order by createTime desc 
	</select>
	
	<insert id="insertMonitorHistory" parameterType="MonitorHistoryEntity">
		INSERT INTO `monitor_history`
		(
		`dsId`,
		`operator`,
		`who`,
		`createTime`)
		VALUES
		(
		#{dsId},
		#{operator},
		#{who},
		NOW())
	</insert>
</mapper>