<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.admin.dao.PumaClientSyncTaskMapper">

    <select id="findAllByRuleName" parameterType="map"
            resultType="PumaClientSyncTaskEntity">
        SELECT * FROM puma_task WHERE ruleName = #{ruleName}
    </select>

    <select id="findByExecutor" parameterType="map"
            resultType="PumaClientSyncTaskEntity">
        SELECT * FROM puma_task WHERE executor = #{executor}
    </select>

    <select id="findEffectiveTaskByRuleName" parameterType="map"
            resultType="PumaClientSyncTaskEntity">
        SELECT * FROM puma_task WHERE ruleName = #{ruleName} and
        status = 2;
    </select>

    <update id="updateSequence" parameterType="PumaClientSyncTaskEntity">
        UPDATE `zebra`.`puma_task`
        SET
        sequence=#{sequence},
        WHERE id = #{id}
    </update>

    <insert id="insertSyncTask" parameterType="PumaClientSyncTaskEntity">
        INSERT INTO
        `zebra`.`puma_task`
        (
        `ruleName`,
        `tableName`,
        `dbRule`,
        `dbIndexes`,
        `tbRule`,
        `tbSuffix`,
        `pumaTaskName`,
        `pumaDatabase`,
        `pumaTables`,
        `executor`,
        `status`,
        `sequence`,
        `createTime`,
        `updateTime`
        )
        VALUES
        (
        #{ruleName},
        #{tableName},
        #{dbRule},
        #{dbIndexes},
        #{tbRule},
        #{tbSuffix},
        #{pumaTaskName},
        #{pumaDatabase},
        #{pumaTables},
        #{executor},
        #{status},
        #{sequence},
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateSyncTask" parameterType="PumaClientSyncTaskEntity">
        UPDATE
        `zebra`.`puma_task`
        SET
        ruleName=#{ruleName},
        tableName=#{tableName},
        dbRule=#{dbRule},
        dbIndexes=#{dbIndexes},
        tbSuffix=#{tbSuffix},
        pumaTaskName=#{pumaTaskName},
        pumaDatabase=#{pumaDatabase},
        pumaTables=#{pumaTables},
        executor=#{executor},
        status=#{status},
        sequence=#{sequence},
        updateTime=NOW()
        WHERE pumaTaskName = #{pumaTaskName}
    </update>

    <update id="updateSyncTaskStatus" parameterType="map">
        UPDATE
        `zebra`.`puma_task` SET
        status=#{status},
        updateTime=NOW()
        WHERE pumaTaskName=#{pumaTaskName}
    </update>
</mapper>