<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.biz.dao.PumaClientSyncTaskMapper">

    <select id="findAllByRuleName" parameterType="map"
            resultType="PumaClientSyncTaskEntity">
        SELECT * FROM PumaTask WHERE ruleName = #{ruleName}
    </select>

    <select id="findEffectiveTaskByExecutor" parameterType="map"
            resultType="PumaClientSyncTaskEntity">
        SELECT * FROM PumaTask WHERE executor = #{executor} and
        status = 2;
    </select>

    <select id="findEffectiveTaskByRuleName" parameterType="map"
            resultType="PumaClientSyncTaskEntity">
        SELECT * FROM PumaTask WHERE ruleName = #{ruleName} and
        status = 2;
    </select>
    
    <insert id="insertSyncTask" parameterType="PumaClientSyncTaskEntity">
        INSERT INTO
        `zebra`.`PumaTask`
        (
        `ruleName`,
        `pumaClientName`,
        `pumaDatabase`,
        `pumaTables`,
        `pumaBaseEntitiesJson`,
        `tableNamesMappingJson`,
        `executor`,
        `executor1`,
        `executor2`,
        `status`,
        `createTime`,
        `updateTime`
        )
        VALUES
        (
        #{ruleName},
        #{pumaClientName},
        #{pumaDatabase},
        #{pumaTables},
        #{pumaBaseEntitiesJson},
        #{tableNamesMappingJson},
        #{executor},
        #{executor1},
        #{executor2},
        #{status},
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateSyncTask" parameterType="PumaClientSyncTaskEntity">
        UPDATE
        `zebra`.`PumaTask`
        SET
        ruleName=#{ruleName},
        pumaDatabase=#{pumaDatabase},
        pumaTables=#{pumaTables},
        pumaBaseEntitiesJson=#{pumaBaseEntitiesJson},
        tableNamesMappingJson=#{tableNamesMappingJson},
        executor=#{executor},
        executor1=#{executor1},
        executor2=#{executor2},
        status=#{status},
        updateTime=NOW()
        WHERE pumaClientName = #{pumaClientName}
    </update>

    <update id="updateSyncTaskStatus" parameterType="map">
        UPDATE
        `zebra`.`PumaTask` SET
        status=#{status},
        updateTime=NOW()
        WHERE pumaClientName=#{pumaClientName}
    </update>
    
    <update id="updateSyncTaskSyncServers" parameterType="map">
        UPDATE
        `zebra`.`PumaTask` SET
        executor=#{executor},
        executor1=#{executor1},
        executor2=#{executor2},
        updateTime=NOW()
        WHERE pumaClientName=#{pumaClientName}
    </update>
</mapper>