<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.admin.dao.PumaClientStatusMapper">
    <select id="selectByTaskId" parameterType="map" resultType="PumaClientStatusEntity">
        SELECT * FROM `PumaTaskStatus`
        WHERE taskId = #{taskId}
        LIMIT 1
    </select>

    <insert id="create" parameterType="PumaClientStatusEntity"
            useGeneratedKeys="true" keyProperty="id" keyColumn="Id">
        INSERT INTO `PumaTaskStatus`
        (TaskId,Sequence) VALUES (
        #{taskId},
        #{sequence}
        )
    </insert>

    <update id="updateSequence" parameterType="PumaClientStatusEntity">
        UPDATE `PumaTaskStatus`
        SET
        Sequence = #{sequence}
        WHERE TaskId = #{taskId}
    </update>
</mapper>