<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dianping.zebra.biz.dao.ShardDumpTaskMapper">
    <select id="getByExecutor" parameterType="map" resultType="ShardDumpTaskEntity">
        SELECT * FROM ShardDumpTask WHERE Executor = #{executor}
    </select>

    <select id="getByName" parameterType="map" resultType="ShardDumpTaskEntity">
        SELECT * FROM ShardDumpTask WHERE Name = #{name}
    </select>

    <delete id="remove" parameterType="map">
        DELETE FROM ShardDumpTask WHERE Id = #{id}
    </delete>

    <update id="updateStatus" parameterType="ShardDumpTaskEntity">
        Update ShardDumpTask SET
        BinlogFile = #{binlogFile},
        BinlogPos = #{binlogPos},
        IndexKey = #{indexKey},
        Status = #{status}
        WHERE ID = #{id}
    </update>

    <insert id="create" parameterType="ShardDumpTaskEntity">
        INSERT INTO `zebra`.`ShardDumpTask`
        (
        `Name`,
        `SrcDbName`,
        `DstDbName`,
        `DataBase`,
        `TargetDataBase`,
        `TableName`,
        `TargetTableName`,
        `ShardRule`,
        `IndexColumnName`,
        `IndexKey`,
        `MaxKey`,
        `Executor`
        )
        VALUES
        (
        #{name},
        #{srcDbName},
        #{dstDbName},
        #{dataBase},
        #{targetDataBase},
        #{tableName},
        #{targetTableName},
        #{shardRule},
        #{indexColumnName},
        #{indexKey},
        #{maxKey},
        #{executor}
        )
    </insert>
</mapper>