<config>
	<database id="DianPingMobile" user="dpmobile">
		<instance url="jdbc:mysql://10.1.1.219:3306/DianPingMobile"
			role="master|slave" name="m1|s1|s2" readonly="true">
			<datasource id="tuangou-api-mobile.mobile" readonly="true"
				normalized-user="dpmobile_a_r" encoded-password="~{abcdef}">
				<property name="username" key-id="1"
					key="tuangou-api-mobile.mobile.jdbc.username">dp!12345</property>
				<property />
			</datasource>
			<datasource id="tuangou-mt.mobile.slave" writable="true" />
		</instance>
		<instance />
	</database>
	<database />
</config>

<!-- Lion -->
<!-- ds.dianpingmobile-m1-write.jdbc.username = dpmobile_a -->
<!-- ds.dianpingmobile-s1-read.jdbc.username = dpmobile_a_r -->
<!-- groupds.group1 = (dianpingmobile-s1-read:1,dianpingmobile-s2-read:2),(dianpingmobile-m1-write) -->
<!-- groupds.group2 = (dianpingmobile-s2-read,dianpingmobile-s2-read) -->


<!-- Liger -->
<!-- ds[dianpingmobile-m1-read].jdbc.url -->
<!-- groupds[group1].mapping -->


<service id="ds">
	<instance id="dianpingmobile-m1-write" database="DianPingMobile"
		type="read-write">
		<property key="jdbc.url">jdbc:mysql://10.1.1.219:3306/DianPingMobile
		</property>
		<property key="jdbc.username">dpmobile_a</property>
		<property key="jdbc.password">7F4J12340</property>
	</template>
		<instance id="dianpingmobile-s1-read" database="DianPingMobile"
			type="read-only">
			<property key="jdbc.url">jdbc:mysql://10.1.1.219:3306/DianPingMobile
			</property>
			<property key="jdbc.username">dp_mobile_a_r</property>
			<property key="jdbc.password">7F4124455</property>
		</template>
</service>
<service id="groupds">
	<instance id="group1" database="DianPingMobile">
		<property key="mapping">(dianpingmobile-s1-read:1,dianpingmobile-s2-read:2),(dianpingmobile-m1-write)
		</property>
	</instance>
	<instance id="group2" database="DianPingMobile">
		<property key="mapping">(dianpingmobile-s2-read,dianpingmobile-s2-read)
		</property>
	</instance>
</service>