<div class="modal-header">
	<h4 class="modal-title">{{name}}</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<th style="width: 45%">邮件告警</th>
					<th style="width: 45%">短信告警</th>
					<th style="width: 10%">操作</th>
				</thead>
				<tbody>
					<tr></tr>
				</tbody>
		</div>
	</div>
</div>

<div class="modal-footer">
    <form class="form-inline" role="form">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success btn-sm" ng-click="">保存</button>
            <button type="button" class="btn btn-warning btn-sm" ng-click="close()">取消</button>
        </div>
    </form>
</div>