<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" role="form">
            <input class="form-control" required ng-model="addId" type="text" placeholder="New SQL ID">
            <input class="form-control" ng-model="addIp" type="text" placeholder="IP(Empty for Global)">
            <button ng-click="add()" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <tbody>
            <tr ng-repeat="config in blackList | toArray | orderBy:'$key':true">
                <td>{{config.$key}}</td>
                <td>
                    <div style="margin-right: 10px;" class="btn-group btn-group-xs" ng-repeat="id in config">
                        <button type="button" class="btn active btn-default">{{id}}</button>
                        <button ng-click="remove(config.$key,id)" type="button" title="Remove" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>