<div class="page-header">
    <div class="row">
    	<div class="col-xs-12">
	        <form class="form-inline" role="form">
					<label class="label label-lg label-primary arrowed-right" for="form-field-1">环境</label>
			        <select id="form-field-1" class="form-control input-sm" ng-model="config.env" ng-options="env for env in config.envs"></select>
	            	<input class="form-control input-sm" ng-model="searchText" type="text" placeholder="搜索">
		            <input ng-show="isLogin" required class="form-control input-sm" ng-model="addText" type="text" placeholder="New JdbcRef">
		            <button ng-show="isLogin" ng-click="createGroupDs()" class="btn btn-primary btn-sm">创建</button>
	        </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>JdbcRef</th>
                <th>数据库配置</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in lionConfigs | toArray | filter:{$key:searchText}">
                <td>{{group.$key}}</td>
                <td><span ng-class="{alertnot : group.shouldAlert == true}" popover-trigger="mouseenter" popover="{{(group.value && group.value.length>60)?group.value:''}}">{{(group.value && group.value.length>60)?group.value.substring(0,60-3) + '...':group.value }}</span>
                </td>
                <td>
                    <button ng-show="isLogin" class="btn btn-xs btn-primary" ng-click="edit(group.$key)">编辑</button>
                    <button class="btn btn-xs btn-success" ng-click="test(group.$key)">测试连接</button>
                    <button ng-show="isLogin" class="btn btn-xs btn-warning" ng-click="merge(group.$key)">配置合并</button>
                    <button ng-show="isLogin" class="btn btn-xs btn-info" ng-show="group.isAutoReplaced" ng-click="autoreplace(group.$key,false)">取消替换</button>
                    <button ng-show="isLogin" class="btn btn-xs btn-danger" ng-show="!group.isAutoReplaced && group.jdbcRef.indexOf('.') < 0" ng-click="autoreplace(group.$key,true)">自动替换</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>