<div class="modal-header">
    <h4 class="modal-title">{{name}}</span>
    </h4>
</div>
<div class="modal-body">
    <div>{{data.config}}</div>
    <hr/>
    <table class="table table-striped table-bordered table-condensed">
        <tr ng-repeat="config in data.configs | orderBy:config.id">
            <td>
                <table class="table">
                    <tr>
                        <td>{{config.id}}</td>
                        <td>
                            <form class="form-inline" role="form">
                                <div class="btn-group">
                                    <label ng-class="{'btn-success':config.role.isRead,'btn-danger':!config.role.isRead}"
                                           class="btn btn-sm" ng-model="config.role.isRead" btn-checkbox>Read</label>
                                    <label ng-class="{'btn-success':config.role.isWrite,'btn-danger':!config.role.isWrite}"
                                           class="btn btn-sm" ng-model="config.role.isWrite" btn-checkbox>Write</label>
                                </div>
                                <input ng- placeholder="weight" class="form-control input-sm"
                                       ng-model="config.role.weight"
                                       type="number"
                                       style="width: 75px"/>
                            </form>
                        </td>
                        <td>
                            <button title="Remove DataSource" ng-click="removeDs()" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="ds in config.properties">
                        <td>{{ds.key}}</td>
                        <td ng-class="{'has-warning':ds.newValue != ds.value}">
                            <input ng-model="ds.newValue"
                                   class="form-control input-sm"/>
                        </td>
                        <td>
                            <button title="Remove Property" ng-click="removeProperty(config.properties,ds)"
                                    class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input placeholder="jdbc.xxxx" ng-model="config.properties.newKey"
                                   class="form-control input-sm" style="width: 200px"/></td>
                        <td><input placeholder="value" ng-model="config.properties.newValue"
                                   class="form-control input-sm"/></td>
                        <td>
                            <button title="Add Property"
                                    ng-click="addProperty(config.properties,config.id,config.properties.newKey,config.properties.newValue)"
                                    class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="close()">Close</button>
</div>