<div class="page-header">
	<h1>
		数据库管理 <small> <i class="ace-icon fa fa-angle-double-right">基本信息</i>
		</small>
		<form style="float:right" class="inline-block">
			<button class="btn btn-default">登录数据库</button>
			<button class="btn btn-default">重启实例</button>
			<button class="btn btn-default">备份实例</button>
		</form>
	</h1>
</div>

<div>
	<div class="table-header">基本信息</div>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr>
				<td><span>实例ID:</span><span>rdsj43h97v9hbka102a2</span></td>
				<td><span>地域:</span><span>南汇</span></td>
			</tr>
			<tr>
				<td><span>实例名称:</span><span>rdsj43h97v9hbka102a2</span></td>
				<td><span>所在机柜:</span><span>NH402</span></td>
			</tr>
			<tr>
				<td><span>IP:</span><span>192.168.1.1</span></td>
				<td><span>端口:</span><span>3306</span></td>
			</tr>
		</tbody>
	</table>
	<div class="table-header">运行状态</div>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr>
				<td><span>运行状态:</span><span>运行中</span></td>
				<td><span>锁定模式:</span><span>正常</span></td>
			</tr>
			<tr>
				<td><span>可用性:</span><span>100%</span></td>
				<td><span>已用空间:</span><span>510M</span></td>
			</tr>
		</tbody>
	</table>
	<div class="table-header">配置信息</div>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
			<tr>
				<td><span>数据库内存:</span><span>64G</span></td>
				<td><span>数据库空间:</span><span>5120M</span></td>
			</tr>
			<tr>
				<td><span>实例类型:</span><span>共享</span></td>
				<td><span>数据库类型:</span><span>MySQL5.6</span></td>
			</tr>
			<tr>
				<td><span>最大连接数:</span><span>60</span></td>
				<td><span>最大IOPS:</span><span>150</span></td>
			</tr>
		</tbody>
	</table>
</div>
