<div class="row">
    <div class="col-xs-12">
        <form class="form-inline" role="form">
        		
            <input class="form-control input-sm" required ng-model="addId" type="text" placeholder="SQL ID">
            <input class="form-control input-sm" ng-model="addAllowedPercent" type="text" placeholder="流控比例，默认100（不进行流控）">
            <input class="form-control input-sm" ng-model="addIp" type="text" placeholder="IP(Empty for Global)">
            <input class="form-control input-sm" ng-model="addComment" type="text" placeholder="SQL语句">
            <button ng-click="add()" class="btn btn-sm btn-primary">Add</button>
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <thead>
        		<th>Sql ID</th>
        		<th>App</th>
        		<th>Allowed Percent(%)</th>
        		<th>Sql语句</th>
        		<th>删除</th>
        	</thead>
            <tbody>
            <tr ng-repeat="item in blackList | toArray">
                <td>{{item.$key}}</td>
                <td>{{item.m_app}}</td>
                <td><a href="#" id="percent" data-type="text" data-placement="right" data-title="输入流控比例">{{item.m_allowPercent}}</a>
                </td>
                <td>{{item.sql}}</td>
                <td>
                        <button ng-click="remove(item.$key)" type="button" title="Remove"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>