<div class="page-header">
	<h1>
		实例管理 <small> <i class="ace-icon fa fa-angle-double-right">实例列表</i>
		</small>
	</h1>
</div>
<div class="inline-block">
	<ul class="nav nav-pills ng-scope">
		<li class="active"><a class="btn-link ng-binding">全部</a></li>
		<li><a class="btn btn-link ng-binding">宝山</a></li>
		<li><a class="btn btn-link ng-binding">南汇</a></li>
		<li><a class="btn btn-link ng-binding">桂桥</a></li>
	</ul>
</div>
<div class="inline-block">
	<ul class="nav nav-pills ng-scope">
		<li class="active"><a class="btn-link ng-binding">全部</a></li>
		<li><a class="btn btn-link ng-binding">交易前台</a></li>
		<li><a class="btn btn-link ng-binding">交易后台</a></li>
		<li><a class="btn btn-link ng-binding">平台产品</a></li>
	</ul>
</div>
<div>
	<a class="btn btn-link ng-binding">创建实例</a>
</div>
<div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>实例名称</th>
				<th>运行状态</th>
				<th>实例类型</th>
				<th>数据库类型</th>
				<th>所在区域</th>
				<th>部门</th>
				<th>负责人</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>rdsj43h97v9hbka102a2</td>
				<td>运行中</td>
				<td>读写实例</td>
				<td>MySQL5.6</td>
				<td>宝山</td>
				<td>交易前台</td>
				<td>苗发平</td>
				<td>
					<button class="btn btn-xs btn-primary" ng-click="edit(syncTaskPlan)">管理</button></td>
			</tr>
		</tbody>
	</table>
</div>
