<div class="modal-header">
	<h4 class="modal-title">
		{{name}}</span>
	</h4>
</div>
<div class="modal-body">
	<form class="form-inline" role="form">
		<select class="form-control" ng-model="config.env"
			ng-options="env for env in config.envs">
		</select> <input class="form-control" ng-model="searchText" type="text"
			placeholder="Search">
	</form>
	<hr />
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<th>源</th>
			<th>name</th>
			<th>jdbc</th>
			<th>username</th>
			<th>password</th>
			<th>目标</th>
		</thead>
		<tbody>
			<tr
				ng-repeat="config in data.configs | filter:searchText | orderBy:'config.id'" style="{{config.isDelete?'text-decoration:line-through':''}}">
				<td><checkbox class="btn-primary" type="checkbox" ng-model="config.selected" ></checkbox></td>
				<td>{{config.id}}</td>
				<td ng-repeat="ds in config.properties | filter:{key:'url'}">{{ds.value}}</td>
				<td ng-repeat="ds in config.properties | filter:{key:'username'}">{{ds.value}}</td>
				<td ng-repeat="ds in config.properties | filter:{key:'password'}">{{ds.value}}</td>
				<td><checkbox ng-hide="config.selected == false" class="btn-danger" type="checkbox" ng-model="config.isMerged" ng-change="onChange(config)" ></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<form class="form-inline" role="form">
		<button class="btn btn-primary" ng-click="merge()">Merge</button>
		<button class="btn btn-danger" ng-click="close()">Cancel</button>
	</form>
</div>