<div class="page-header">
	<div class="row">
	    <div class="col-xs-12">
	        <form class="form-inline" role="form">
	            <input class="form-control input-sm" ng-model="searchText" type="text" placeholder="搜索">
	            <input ng-show="isLogin" required class="form-control input-sm" ng-model="jdbcRef" type="text" placeholder="JdbcRef">
	            <button ng-show="isLogin" ng-click="addJdbcRef()" class="btn btn-primary btn-sm">添加</button>
	            <button ng-show="isLogin" ng-click="removeJdbcRef()" class="btn btn-primary btn-sm">删除</button>
	        </form>
	    </div>
	</div>
</div>

<h4>当前被MHA Markdown的列表</h4>
<div class="col-xs-12">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>dsId</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mhaItem in mhaList | toArray | filter:{$key:searchText}">
            <td>{{mhaItem.$key}}</td>
            <td>
            	<button class="btn btn-xs btn-danger" ng-click="markup(mhaItem.$key)">手动恢复</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h4>当前被Zebra自动监控的ds列表和状态</h4>
<div class="row">
 <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>dsId</th>
                <th>上一次检测时间</th>
                <th>当前状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="statusItem in statusList | toArray | filter:{$key:searchText}">
                <td>{{statusItem.$key}}</td>
                <td>{{statusItem.lastUpdateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td ng-show="statusItem.status == 'INIT'"><span class="label label-info">{{statusItem.status}}</span></td>
                <td ng-show="statusItem.status == 'DEAD' || statusItem.status == 'MHA_MARK_DOWN'"><span class="label label-danger">{{statusItem.status}}</span></td>
                <td ng-show="statusItem.status == 'ALIVE'"><span class="label label-success">{{statusItem.status}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>切换历史</h4>
<div class="row">
 <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>dsId</th>
                <th>操作</th>
                <th>操作人</th>
                <th>操作时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="history in histories">
                <td>{{history.dsId}}</td>
                <td ng-show="history.operator == -1"><span class="label label-danger">markdown</span></td>
                <td ng-show="history.operator == 0"><span  class="label label-success">markup</span></td>
                <td>{{history.who}}</td>
                <td>{{history.createTime}}</td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
