<div class="modal-content">
    <div id="modal-wizard-container" class="">
        <div class="modal-header">
            <ul class="steps">
                <li data-step="1" class="complete">
                    <span class="step">1</span>
                    <span class="title">数据库和表</span>
                </li>

                <li data-step="2" class="complete">
                    <span class="step">2</span>
                    <span class="title">迁移数据</span>
                </li>

                <li data-step="3" class="active">
                    <span class="step">3</span>
                    <span class="title">多维度同步任务</span>
                </li>

                <li data-step="4" class="">
                    <span class="step">4</span>
                    <span class="title">迁移数据追赶任务</span>
                </li>
            </ul>
        </div>

        <div class="modal-body step-content">
            <div class="step-pane" data-step="1">
                <div class="center">
                    <h4 class="blue">Step 1</h4>
                </div>
            </div>

            <div class="step-pane" data-step="2">
                <div class="center">
                    <h4 class="blue">Step 2</h4>
                </div>
            </div>

            <div class="step-pane active" data-step="3">
                <div class="center">
                    <h4 class="blue">Step 3</h4>
                </div>
            </div>

            <div class="step-pane" data-step="4">
                <div class="center">
                    <h4 class="blue">Step 4</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer wizard-actions">
        <button class="btn btn-sm btn-prev">
            <i class="ace-icon fa fa-arrow-left"></i> Prev
        </button>

        <button class="btn btn-success btn-sm btn-next" data-last="Finish">
            Next

            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>

        <button class="btn btn-danger btn-sm pull-left" data-dismiss="modal" ng-click="close()">
            <i class="ace-icon fa fa-times"></i>关闭
        </button>
    </div>
</div>