<div class="modal-header">
    <h4 class="modal-title">
        <form class="form-inline" role="form">
            <span>{{name}}</span>
        </form>
    </h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active' : shard.active}" ng-repeat="shard in configs.tableShardConfigs">
            <a href ng-click="changeActive(shard.tableName)">{{shard.tableName}}</a>
        </li>
        <li role="presentation">
            <a href ng-click="addTable()"><span title="Add Table" class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </li>
    </ul>
    <div ng-show="shard.active" ng-repeat="shard in configs.tableShardConfigs">
        <input type="text" ng-change="tableNameChange(shard);" ng-model="shard.tableName" />
    </div>
</div>
<div class="modal-footer">
    <form class="form-inline" role="form">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success btn-sm" ng-click="save()">Save</button>
            <button type="button" class="btn btn-success btn-sm dropdown-toggle">
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-click="save(true)">Force Save</a>
                </li>
            </ul>
        </div>
        <button title="直接使用当前配置测试，不保存到Lion" type="button" class="btn btn-primary btn-sm" ng-click="test()">Test</button>
        <button type="button" class="btn btn-warning btn-sm" ng-click="close()">Cancel</button>
    </form>
</div>
