<div class="page-header">
	<h1>
		分库分表 <small> <i class="ace-icon fa fa-angle-double-right">多维度同步任务</i>
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label">选择规则</label>
				<div class="col-sm-9">
					<select class="col-xs-10 col-sm-5" ng-model="shardRule"
						ng-options="rule for rule in shardRules"></select>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	<div class="table-header">执行计划</div>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>任务名</th>
				<th>同步服务器地址</th>
				<th>备选服务器地址1</th>
				<th>备选服务器地址2</th>
				<th>状态</th>
				<th>操作1</th>
				<th>操作2</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="syncTaskPlan in syncTaskPlans | toArray">
				<td>{{syncTaskPlan.pumaTaskName}}</td>
				<td>{{syncTaskPlan.executor}}</td>
				<td>{{syncTaskPlan.executor1}}</td>
				<td>{{syncTaskPlan.executor2}}</td>
				<td ng-if="syncTaskPlan.status == 1">初始化</td>
				<td ng-if="syncTaskPlan.status == 2">运行中</td>
				<td >
					<button ng-if="syncTaskPlan.status == 1" class="btn btn-xs btn-primary" ng-click="schedule(syncTaskPlan.pumaTaskName)">生效</button>
				</td>
				<td>
					<button class="btn btn-xs btn-primary" ng-click="edit(syncTaskPlan)">编辑</button>	
				</td>
			</tr>
		</tbody>
	</table>
</div>