<div class="modal-header">
    <h4 class="modal-title">
        <form class="form-inline" role="form">
            <span>{{name}}</span>
        </form>
    </h4>
</div>
<div class="modal-body">
	 <form class="form-horizontal" role="form">
        <div class="form-group">
	        <label class="col-sm-3 control-label">当前服务器</label>
	        <div class="col-sm-9">
		        <select class="col-xs-10 col-sm-5" ng-model="executor" ng-options="syncServer.name as syncServer.name for syncServer in syncServers"></select>
	        </div>
		</div>
        <div class="form-group">
	        <label class="col-sm-3 control-label">备选服务器1</label>
	        <div class="col-sm-9">
		        <select class="col-xs-10 col-sm-5" ng-model="executor1" ng-options="syncServer.name as syncServer.name for syncServer in syncServers"></select>
	        </div>
		</div>
		<div class="form-group">
		   	<label class="col-sm-3 control-label">备选服务器2</label>
	        <div class="col-sm-9">
		        <select class="col-xs-10 col-sm-5" ng-model="executor2" ng-options="syncServer.name as syncServer.name for syncServer in syncServers"></select>
	        </div>
		</div>
    </form>
</div>

<div class="modal-footer">
 	<form class="form-inline" role="form">
        <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success btn-sm" ng-click="save()">保存</button>
        </div>
        <button type="button" class="btn btn-warning btn-sm" ng-click="close()">取消</button>
    </form>
</div>