<div class="page-header">
	<div class="row">
	    <div class="col-xs-12">
	        <div class="progress">
	            <div popover="完全升级:{{report.successDatabase}}" popover-trigger="mouseenter"
	                 class="progress-bar progress-bar-success progress-bar-striped"
	                 style="width: {{report.successDatabase * 100 / (report.successDatabase + report.halfDoneDatabase + report.failureDatabase)}}%">
	            </div>
	            <div popover="部分升级:{{report.halfDoneDatabase}}" popover-trigger="mouseenter"
	                 class="progress-bar progress-bar-warning progress-bar-striped"
	                 style="width: {{report.halfDoneDatabase * 100 / (report.successDatabase + report.halfDoneDatabase + report.failureDatabase)}}%">
	            </div>
	            <div popover="未升级:{{report.failureDatabase}}" popover-trigger="mouseenter"
	                 class="progress-bar progress-bar-danger progress-bar-striped"
	                 style="width: {{report.failureDatabase * 100 / (report.successDatabase + report.halfDoneDatabase + report.failureDatabase)}}%">
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-xs-12">
	        <form class="form-inline" role="form">
	            <input class="form-control input-sm" placeholder="搜索" ng-model="searchTest"/>
	        </form>
	    </div>
	</div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th><a href="" ng-click="reverse=!reverse;predicate='name'">数据库({{report.databases |
                    objectCount}})</a></th>
                <th><a href="" ng-click="reverse=!reverse;predicate='replacedSingleDataSource'">自动替换的数目({{report.replacedSingleDataSource}})</a>
                    <span>/</span>
                    <a href="" ng-click="reverse=!reverse;predicate='c3p0DataSource'">所有的C3P0数目({{report.c3p0DataSource}})</a>
                </th>
                <th><a href="" ng-click="reverse=!reverse;predicate='replacedDpdlDataSource'">自动替换的数目({{report.replacedDpdlDataSource}})</a><span>/</span>
                    <a href="" ng-click="reverse=!reverse;predicate='dpdlDataSource'">所有的DPDL数目({{report.dpdlDataSource}})</a>
                </th>
                <th><a href="" ng-click="reverse=!reverse;predicate='groupDataSource'">升级Dal的数目({{report.groupDataSource}})</a>
                </th>
                <th><a href="" ng-click="reverse=!reverse;predicate='totalDataSource'">总数据源({{report.totalDataSource}})</a>
                </th>
                <th><a href="" ng-click="reverse=!reverse;predicate='isInWhiteList'">自动替换</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="database in report.databases | toArray | filter:searchTest | orderBy:predicate:reverse">
                <td><a href="#/update/database/{{database.name}}">{{database.name}}</a></td>
                <td>{{database.replacedSingleDataSource}}/{{database.c3p0DataSource}}</td>
                <td>{{database.replacedDpdlDataSource}}/{{database.dpdlDataSource}}</td>
                <td>{{database.groupDataSource }}</td>
                <td>
                    <span class="badge badge-{{database.updateStatus == -1?'danger':(database.updateStatus == 0 ?'success': (database.updateStatus == 2 ? 'info' : 'warning'))}}">{{database.totalDataSource}}</span>
                </td>
                <td>
                	<span ng-show="database.isInWhiteList" class="badge">自动替换</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>