<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>GroupDataSource</th>
                <th>DpdlDataSource</th>
                <th>C3P0DataSource</th>
                <th>SingleDataSource</th>
                <th>OtherDataSource</th>
                <th>自动替换的C3P0数据源</th>
                <th>自动替换的DPDL数据源</th>
                <th>总数据源</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{app.groupDataSource}}</td>
                <td>{{app.dpdlDataSource}}</td>
                <td>{{app.c3p0DataSource}}</td>
                <td>{{app.singleDataSource}}</td>
                <td>{{app.otherDataSource}}</td>
                <td>{{app.replacedSingleDataSource}}</td>
                <td>{{app.replacedDpdlDataSource}}</td>
                <td>{{app.totalDataSource}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>IP</th>
                <th>DALVersion</th>
                <th>BeanName</th>
                <th>JDBC</th>
                <th>Username</th>
                <th>Type</th>
                <th>init</th>
                <th>max</th>
                <th>min</th>
                <th>Update Dal</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody ng-repeat="(ip,machine) in app.machines">
            <tr>
                <td rowspan="{{(machine.datasources | objectCount)+1}}"><a
                        href="http://api.cmdb.dp/api/v0.1/projects/by_ips?ip={{ip}}" target="_blank">{{ip}}</a></td>
                <td rowspan="{{(machine.datasources | objectCount)+1}}">{{machine.version}}</td>
            </tr>
            <tr ng-repeat="(name,datasources) in machine.datasources">
                <td>{{name}}</td>
                <td>
                    <button type="button" class="popover-xlarge btn btn-default btn-xs" popover-trigger="mouseenter"
                            popover="{{datasources.jdbcUrl }}">查看
                    </button>
                </td>
                <td>{{datasources.username }}</td>
                <td>{{datasources.type }}</td>
                <td>{{datasources.initPoolSize }}</td>
                <td>{{datasources.maxPoolSize }}</td>
                <td>{{datasources.minPoolSize }}</td>
                <td><span
                        class="badge badge-{{datasources.type.indexOf('GroupDataSource') >= 0 || datasources.replaced ? 'success' : 'warning'}}">{{datasources.type.indexOf('GroupDataSource') >= 0  || datasources.replaced == true ? '是':'否'}}</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" ng-click="deleteInfo(ip,name)">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>