<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>App({{database.m_apps | objectCount}})</th>
                <th>自动替换的数目({{database.m_replacedSingleDataSource }})/所有的C3P0数目({{database.m_c3p0DataSource }})</th>
                <th>自动替换的数目({{database.m_replacedDpdlDataSource }})/所有的DPDL数目({{database.m_dpdlDataSource }})</th>
                <th>升级Dal的数目({{database.m_groupDataSource }})</th>
                <th>总数据源({{database.m_totalDataSource }})</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="app in database.m_apps" id="app-info-{{app.m_name}}">
                <td><a href="#/update/app/{{app.m_name}}">{{app.m_name}}</a></td>
                <td>{{app.m_replacedSingleDataSource}}/{{app.m_c3p0DataSource}}</td>
                <td>{{app.m_replacedDpdlDataSource}}/{{app.m_dpdlDataSource }}</td>
                <td>{{app.m_groupDataSource }}</td>
                <td>
                    <span class="badge alert-{{app.m_replacedDpdlDataSource == 0 && app.m_groupDataSource == 0?('danger'):((app.m_replacedSingleDataSource + app.m_replacedDpdlDataSource + app.m_groupDataSource) == app.m_totalDataSource?'success':'warning')}}">{{app.m_totalDataSource}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>