DELETE FROM
#if (${event.database} == "")
`${event.table}`
#else
`${event.database}`.`${event.table}`
#end
WHERE
#foreach($name2ColumnInfo in $event.columns.entrySet())
  #if(${name2ColumnInfo.value.key})
       #if($velocityCount > 1)
           AND
       #end
       `${name2ColumnInfo.key}` = ?
   #end
#end