DELETE FROM
#if (${database} == "")
`${table}`
#else
`${database}`.`${table}`
#end
WHERE
#set ($keyCount = 0)
#foreach($name2ColumnInfo in $event.columns.entrySet())
  #if(${name2ColumnInfo.value.key})
      #set ($keyCount = $keyCount + 1)
      #if($keyCount > 1)
          AND
      #end
      `${name2ColumnInfo.key}` = ?
  #end
#end